  /* css styles */
  
  /* Color de la barra de navegación */
.navbar {
  background-color: #2E6F6B !important;   /* verde petróleo */
}

/* Color del texto */
.navbar a, 
.navbar-brand {
  color: #ffffff !important;
}

/* Color al pasar el mouse */
.navbar a:hover {
  color: #A8E6CF !important;
}

/* footer */
/* Línea divisoria */
.footer-line {
  border: none;
  border-top: 1px solid #444;
  margin: 12px 0;
}

.footer-bottom {
  font-size: 14px;
  color: #cccccc;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

/* Íconos */
.footer-instagram img,
.footer-github img {
  height: 26px;
  filter: brightness(0) invert(1);
  transition: transform 0.2s ease, opacity 0.2s ease;
}

.footer-instagram img:hover,
.footer-github img:hover {
  transform: scale(1.1);
  opacity: 0.8;
}


/* Tarjetas informes */
.report-card{
  background: rgba(255,255,255,0.04);
  border: 1px solid rgba(255,255,255,0.10);
  border-radius: 14px;
  padding: 20px 18px;
  box-shadow: 0 6px 18px rgba(0,0,0,0.35);
  margin: 12px 0;
}

.report-card h3{
  margin-top: 0;
}

.report-card a{
  display: inline-block;
  margin-top: 10px;
  font-weight: 600;
}


/* Tarjetas equipo */
.team-card{
  background: rgba(255,255,255,0.04);
  border: 1px solid rgba(255,255,255,0.10);
  border-radius: 14px;
  padding: 18px 16px;
  box-shadow: 0 6px 18px rgba(0,0,0,0.35);
  margin: 8px 0;
}

.team-card img{
  border-radius: 12px;
}

/* Opcional: hacer las fotos redondas */
.team-card .avatar{
  border-radius: 999px;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

/*Seccion que hacemos */

.lineas-card{
  background: rgba(255,255,255,0.04);
  border: 1px solid rgba(255,255,255,0.10);
  border-radius: 14px;
  padding: 18px 16px;
  box-shadow: 0 6px 18px rgba(0,0,0,0.35);
  margin: 8px 0;
}

.lineas-card .lineas {
  background: #1f2933;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
  height: 100%;
}

.card-title {
  display: block;
  background: #ffffff;
  color: #555555;
  padding: 10px 14px;
  border-radius: 8px;
  font-weight: 600;
  margin-bottom: 12px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
}
